.caja-footer{
    width: 32rem;
    display: block;
    margin: auto;
    
}
.footer{
    width: 29.2rem;
    height: 5.4rem;
    background-color: var(--verde-oscuro);
    border-radius: 2.25rem;
    display: block;
    margin: auto 1.4rem 1.2rem 1.4rem;
    position: fixed;
    bottom: 0;   
}
.caja-iconos{
    width: 29.2rem;
    height: 5.4rem;
    display: flex;
    margin: auto;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
.icono2{
    width: 4.2rem;
}
.icono1, .icono3{
    width: 3.6rem;
}
