
*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
    /*font-family: 'Baloo Bhaina 2', cursive;*/
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
:root{
/* variables de color */
--gris-oscuro: rgba(74, 74, 74, 1);
--blanco:      rgba(255, 255, 255, 1);
--verde-olivo: rgba(146, 166, 95, 1);
--verde-claro1:rgba(215, 216, 156, 1);
--verde-oscuro:rgba(66, 98, 38, 1);
--gris-claro:  rgba(245, 245, 245, 1);
--verde-claro2:rgba(240, 242, 220, 1);

 /* variables de tamaño de letra */
 --h1 : 2.4rem;
 --h2 : 1.4rem;
 --parrafo : 1.3rem;

}

body{
    margin: auto;
    
}
section{
    box-sizing: border-box;
    display: flex;
    width:  41.4rem;
    margin: auto;
    margin-bottom:3rem;
}