.section-nutricion{
    width: 32rem;
    display: flex;
    flex-direction: column;
    height:auto; 
    margin: auto;
    box-sizing: border-box;
}
.nutricion-img{
    width: 32rem;
    height: 17.9rem;
    background-image: url(../img/imgnutricion.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.nutricion-contenido{
    width: 32rem;
    height: auto;
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -2rem;
    margin-bottom: 7rem;
    border-radius: 3rem;
    padding: 1.5rem 1.4rem 1.4rem 1.4rem;
}
.contenedor-parrafo1{
    width: 29.2rem;
    height: 20rem;
    margin: auto;
    background-color: var(--gris-claro);
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
}
.contenedor-parrafo2{
    width: 29.2rem;
    height: 23rem;
    margin: auto;
    margin-top: 2rem;
    background-color: var(--gris-claro);
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
}
.section-nutricion-subtitulo{
    font-size: var(--h1);
    color: var(--gris-oscuro); 
    line-height: 3rem;
}
.section-nutricion-parrafo{
    color: var(--gris-oscuro);
    font-size: var(--parrafo);
    text-align:justify;
    margin-top: 0.3rem;
    
}
.caja-test{
    display: block;
    text-decoration: none;
    width: 29.2rem;
    height: 12.5rem;
    margin:auto;
    margin-top: 2rem;
    background-image: url(../img/testimg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    cursor: pointer;
}
.caja-test h1{
    font-size: var(--h1);
    margin-left: 1.3rem;
    color: var(--gris-oscuro);
}
.caja-test p{
    font-size: var(--parrafo);
    padding-top: 1.5rem;
    margin-left: 1.3rem;
    color: var(--gris-oscuro);
}
.contenedor-constantes{
    width: 29.2rem;
    height: 25rem;
    margin: auto;
    background-color: var(--gris-claro);
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin-top: 2rem;
    box-sizing: border-box;   
}
.contenedor-constantes img{
    width: 25rem;
    display: block;
    margin: auto;
}
