.section-start{
    width: 32rem;
    max-width: 41.4rem;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--blanco);
}
.start{ 
    max-width: 28.6rem;
    margin: auto; 
    background-color: var(--blanco);

}
.caja-img-logo img{
    display: block;
    margin: auto;
    width: 8.6rem;
    
}
.section-start-titulo{
    font-size: var(--h1);
    color: var(--gris-oscuro);
    text-align: center;
   
}
.section-start-subtitulo{
    font-size: var(--h2);
    color: var(--gris-oscuro);
    margin-top: -0.5rem;
    text-align: center;
}
.caja-img-gif img{
    width: 25.1rem;
    display: block;
    margin: auto;
}
.boton{
    display: block;
    width: 13.9rem;
    height: 3.9rem;
    background-color: var(--verde-oscuro);
    border-radius: 2.1rem;
    text-decoration: none;
    margin: auto;
    margin-top: 0.4rem;
    
}
.boton p{
    color: var(--blanco);
    text-align: center;
    font-size: var(--h2);
    padding-top:0.7rem;
    font-weight:600;
}