.section-test{
    width: 32rem;
    display: flex;
    flex-direction: column;
    height:auto; 
    margin: auto;
    box-sizing: border-box;
}
.test-img{
    width: 32rem;
    height: 17.9rem;
    background-image: url(../img/testimcimg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.test-contenido{
    width: 32rem;
    height: auto;
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -2rem;
    border-radius: 3rem;
    padding: 1.5rem 1.4rem 1.4rem 1.4rem;
    box-sizing: border-box;
}
/*FORMULARIO 1 PREGUNTA*/
.formulario-nombre{
    
}
.activarCaja{
    display: block;
}
label h2{
    font-size: var(--h2);
    color: var(--gris-oscuro);
    margin-top: 5.8rem;
    margin-left: 1.7rem;
}
input{
    width: 25.2rem;
    height: 3.1rem;
    display: flex;
    margin: auto;
    margin-top: 1.7rem;
    padding: 1rem;
    background-color: var(--verde-claro2);
    outline: none;
    border: 0;
}
.boton{
    display: block;
    width: 13.9rem;
    height: 3.9rem;
    background-color: var(--verde-oscuro);
    border-radius: 2.1rem;
    border: none;
    margin: auto;
    margin-top: 20.7rem;
    margin-left: 13rem;
    cursor: pointer;
    
}
.boton h2{
    color: var(--blanco);
    text-align: center;
    font-size: var(--h2);
    
}
/*FORMULARIO 2 PREGUNTA*/
.formulario-imc{
    display: none;
}
.peso{
    margin-top: 1rem;
}
.boton-resultados{
    display: block;
    width: 13.9rem;
    height: 3.9rem;
    background-color: var(--verde-oscuro);
    border-radius: 2.1rem;
    border: none;
    margin: auto;
    margin-top: 9.9rem;
    margin-left: 13rem;
    cursor: pointer;
    
}
.boton-resultados h2{
    color: var(--blanco);
    text-align: center;
    font-size: var(--h2);
    
}